<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
    <div class="header">
        <div class="page-top">
            <div class="bg-wrap">
                <div class="mask"></div>
                <div class=""></div>
            </div>
            <div class="page-top-nav">
                <div class="top-nav-link">
                    <ul>
                        <li class="item-home">
                            <a href="#">主站</a>
                        </li>
                        <li class="item"><a href="#">画友</a></li>
                        <li class="item">
                            <a href="#">游戏中心</a>
                        </li>
                        <li class="item">
                            <a href="#">直播</a>
                    
                        </li>
                        <li class="item"><a href="#">周边</a></li>
                        <li class="item">
                            <a href="#">移动端</a>
                        </li>
                    </ul>
                </div>
                <div class="user-center">
                    <div class="login-box">
                        <a href="#">登录</a>
                        <span></span>
                        <a href="#">注册</a>
                    </div>
                    <div class="user-post">
                        <a href="#" class="link">投 稿</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-top-c">
            <div class="top-c-content">
                <div class="top-c-logo"></div>
                <div class="search-clearfix">
                    <div class="search-rank">排行榜</div>
                    <div class="search-box">
                        <input type="text" class="search-txt" placeholder="在这里输入内容">
                        <a href=""><i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-center-nav">
        
        <div class="page-center-clearfix">
            
            <ul class="center-nav-list">
                <li class="item item-home">
                    <a href="#" class="link">首页</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>887</i></div>动画</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>23</i></div>番剧</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>999+</i></div>音乐</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>152</i></div>舞蹈</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>999+</i></div>游戏</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>999+</i></div>科技</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>999+</i></div>生活</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>77</i></div>鬼畜</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>416</i></div>时尚</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>100</i></div>广告</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>999+</i></div>娱乐</a>
                </li>
                <li class="item">
                    <a href="#" class="link"><div class="num"><i>916</i></div>影视</a>
                </li>
            </ul>
            <ul class="center-nav-last">
                <li class="item item-square">
                    <a class="link" href="">广场</a>
                </li>
                <li class="item item-live">
                    <a class="link" href="">直播</a>
                </li>
                <li class="item item-room">
                    <a class="link" href="">小黑屋</a>
                </li>
            </ul>
            <div class="center-nav-gif">
                <img src="动态头像.gif" alt="">
            </div>
        </div>
    </div>

    <div class="page-center-banner">
        
    </div>
</body>
</html>